<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792512520998-al5ra2vuql34o0ptr6gqnk29qe70mcbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792512520998-al5ra2vuql34o0ptr6gqnk29qe70mcbd</string>
	<key>API_KEY</key>
	<string>AIzaSyAHNzJ_r5JgA9rgQcLBhz2y2oXpxccmWPw</string>
	<key>GCM_SENDER_ID</key>
	<string>792512520998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-5eb83</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-5eb83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792512520998:ios:07fc26d90052a3f38297e7</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-5eb83.firebaseio.com</string>
</dict>
</plist>